body {
    font-family: 'Neuton', sans-serif;
    background: #c8e6c9;
}

.container {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
  background-color: #fbfffc;
}

.bar {
    fill: #d7ccc8;
}

.bar:hover {
    fill: #a69b97;
}

.tooltip {
  background-color: #97b498;
  border-radius: 5%;
  color: #fff
}

.tooltipWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1rem;
}
