body {
    font-family: 'Roboto', sans-serif;
    background: #cdcdcd;
}

.container {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar {
    fill: blue;
}

.bar:hover {
    fill: red;
}
